@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.cabeca{
    height: 20vh;
    width: 100%;
    padding:2vh;
}
.menu {
    width: 40%;
    height: 15%;
    margin-top:5vh;
    color:skyblue;
    justify-content: flex-end;
    display:flex;
    left:5vw;

}
.van{
    display: flex;
    border:solid;
    height: 4vw;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.35vw;
    font-family:'Permanent Marker', cursive;
    margin-top:-18%;
}

a{
    text-decoration: none;
}
  a:visited {
    color: darkslateblue;
}
.van li{
    border:solid;
    color: skyblue;
    left:4;
}
.menu li:hover {
    color:lightcoral;
    font-family:'Permanent Marker', cursive;
    font-weight: 900;
    cursor: pointer;
    transform: translateX(5px);
}
.corpo{
    border:solid gold;
    height: 150vh;
    position:relative;  
}
.titulo{
    display:flex;
    justify-content: center;
    width: 30vw;
    height: 15vh;
    border:solid black;
    font-family:'Permanent Marker';
    font-weight: 200px;
    color: skyblue;
}
.titulo:hover{
    cursor:pointer;
    color:lightcoral;
}
.textmain{
    border:solid pink;
    font-family: 'Permanent Marker', cursive;
    color:#58ACFA;
    font-weight:300;
    display: flex;
    justify-content: center;
    width: 30vw;
    font-size: 20px;
    margin-top:5vh;
    padding: 3vh;
}
.textada{
    border:solid hotpink; 
    position:relative;
}
.texthome{
    height: 10vh;
    width: 50vw;
    border:darkblue;
}

.red-section{
    display: flex;
    justify-content: space-around;
    
 }
 
 .red-box{
     display: flex;
     position: absolute;
     top:12%;
     z-index: 20;
     left: 8%;
     width: 21vw;
     height: 28vw;
     background-image: url(./images/Ada-l-3-e1587696726933.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     border-radius: 20px;
}


.partedebaixo{
    display: flex;
    position: absolute;
    height: 50vw;
    width: 100%;
    border:solid darkgray;
    /*background-color:#2D2D2D;*/
}
footer{
    background-color: rgb(242, 243, 244 );
    height: 19vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
h2{
    font-size: 4vh;
    color:lightcoral;
}    
.footer-main {
        width: 90%;
        height: 19vh;
        padding: 0 5vw;
        display: flex;
        align-items: center;
}
    
.redes-sociais {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
}
    
.redes-sociais img {
        height: 10vh;
        width: -2vw;
    }
    
.footer-main h2 {
        padding-left: 30vw;
    }
    
.ref{
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
}
.ref p{
    font-size: 2vh;
    left:4vw
}
    
.footer-media {
        display: none;
}
.ref {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.footer-media {
    display: none;
}